services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  oracle-db:
    image: gvenzl/oracle-free:23.4-slim
    container_name: oracle23c-free
    ports:
      - "1521:1521"
      - "5500:5500" # EM Express (web UI)
    environment:
      ORACLE_PASSWORD: Oracle123
      APP_USER: appuser
      APP_USER_PASSWORD: App123
    volumes:
      - oracle_data:/opt/oracle/oradata
    shm_size: "1g"
    restart: unless-stopped

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka-kraft
    hostname: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:29093"

      KAFKA_LISTENERS: "PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

      KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"
      CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"

    command: "bash -c 'if [ ! -f /tmp/kraft-combined-logs/meta.properties ]; then kafka-storage format -t $CLUSTER_ID -c /etc/kafka/kafka.properties; fi && /etc/confluent/docker/run'"

    volumes:
      - kafka_data:/tmp/kraft-combined-logs
volumes:
  redis_data:
  oracle_data:
  kafka_data:
